body {
    background-color: #db524d;
    position: fixed;
}

#drum-machine {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#display {
    position: absolute;
    top: 10%;
    left: 55%;
    margin-top: -50px;
    margin-left: -50px;
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 40px;
    transform: translate(-50%, -50%);
}

#drum-pads {
    display: flex;
    color: rgb(222, 82, 77);
    font-family: "Segoe UI", Arial, sans-serif;
}

.drum-pad {
   border: 0.11em solid black;
    border-radius: 10em;
    height: 7em;
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0.2em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(0, 0, 0, .5), 0px 0px 0px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(0, 0, 0, .5), 0px 0px 0px rgba(0, 0, 0, .7);
    box-shadow: 0px 9px 0px rgba(0, 0, 0, .5), 0px 0px 0px rgba(0, 0, 0, .7);
    margin: 6em  0 1em;
    width: 140px;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
  
}

.drum-pad:active {
    -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, .5), 0px 0px 0px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgba(0, 0, 0, .5), 0px 0px 0px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgba(0, 0, 0, .5), 0px 0px 0px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px;
}

@media screen and (max-width: 1350px) {
    div {
         display: block;
  float: none;
  width:99.7%;
    }
    #display {
        text-align: center;
        font-size: 30px;
        top: 35%;
}
